<table border-="1" class="inbox">
	<tr><td> <%=link_to "Edit Group", edit_group_path(@group), :method => 'get'%> </td></tr>
	<tr><td> <%=link_to "Manage Members", manage_group_path(@group), :method => 'get' %></td></tr>
	<tr><td> <%=link_to "Transfer Leadership", transfer_group_leadership_path(@group), :method => 'get'%></td></tr>
	<tr><td> <%=link_to "Done", group_path(@group), :method => 'get'%></td></tr>
</table>