<h1>Add Members</h1>

<table> 
	<tr> 
		<td>
			<%=render partial: 'management'%>
		</td>
		<td>
			<%if @users.empty? %> 
				<i> There are no users to add to your group at this time</i>
			<%else%>
				<%@users.each do |user|%>
					<%=link_to user.name, user_path(user)%> <%=button_to "Add", add_group_members_path(:group_id => @group, :user_id => user), :method => 'put' %><br />
				<%end %> 
			<%end%>
		</td>
	</tr>
</table>