Key Screen 2 - Main Page <br />
User: <%=@user.email%> <br />
Projects: <br />
<%@projects.each do |project| %> 
	<%= project.name %> <br />
<% end %> 
<div id="inbox">Inbox: <br />
<%@messages.each do |message| %> 
	<%= message.body %> <br />
<% end %> 
</div>

<%= link_to 'Add Groups', groups_path %>
