h1
  | Notifications
- if notification_count == 0
  |  You have no new notifications
- else
  - @lead_project_requests.each do |request|
    |  You have been requested to lead
    =request.project.name
    =button_to "Approve", approve_request_path(request), :method => 'put'
    =button_to "Decline", decline_request_path(request), :method => 'put'
  - @lead_group_requests.each do |request|
    |  You have been requested to lead
    =request.group.name
    =button_to "Approve", approve_request_path(request), :method => 'put'
    =button_to "Decline", decline_request_path(request), :method => 'put'
  - @join_project_requests.each do |request|
    =request.user.name
    |  has requested to join
    =request.project.name
    =button_to "Approve", approve_request_path(request), :method => 'put'
    =button_to "Decline", decline_request_path(request), :method => 'put'
  - @join_group_requests.each do |request|
    =request.user.name
    |  has requested to join
    =request.group.name
    =button_to "Approve", approve_request_path(request), :method => 'put'
    =button_to "Decline", decline_request_path(request), :method => 'put'
