<%=render partial: 'management'%>
<h1> Manage Affiliations </h1>

<div id="section">
	Affiliate <%=@project.name%> with: <br />

	<% if @project.groups.size >= 3 %> 
		<i>Your project is already affiliated with the maximum number of groups</i> 
	<%elsif @groups.empty?%> 
		<i>There are no groups to affiliate your project with at this time</i>
	<%else%>
		<%@groups.each do |group| %> 
			<%=link_to group.name, group_path(group)%> <%=button_to "Affiliate", affiliate_path(:project_id => @project, :group_id => group), :method => 'put'%>
		<%end%>
	<%end%>
</div>
