/!  
  =render partial: 'management'
  #section
    h1
      | Manage Project
    |  Current Participants
    br
    ol
      - @participants.each do |participant|
        li
          =link_to participant.name, user_path(participant)
    =button_to "Add Users", pick_project_users_path(@project), :method => 'get'
    =button_to "Remove Users", remove_project_participants_path(@project), :method => 'get'
    br
    |  Pending Requests: 
    br
    - if @requests.empty?
      i
        | There are no pending requests for 
        =@project.name
    - else
      ol
        - @requests.each do |request|
          li
            =link_to request.user.name, user_path(request.user)
            = button_to "Approve", approve_request_path(request), :method => 'put'
            = button_to "Decline", decline_request_path(request), :method => 'put'



div.edit-profile-page
  .row
    .col-md-3
      = render partial: 'management'
    .col-md-offset-1.col-md-4
      .form-elements
        h1
          Manage Participants
          br
          small Current Participants
        br
        ol
          - @participants.each do |participant|
            li
              =link_to participant.name, user_path(participant)

        h1
          |  Pending Requests: 
        br
        - if @requests.empty?
          i
            | There are no pending requests for 
          =@project.name
        - else
          ol
            - @requests.each do |request|
              li
                =link_to request.user.name, user_path(request.user)
                = button_to "Approve", approve_request_path(request), :method => 'put', :class => 'button transfer-leadership-button'
                = button_to "Decline", decline_request_path(request), :method => 'put', :class => 'button transfer-leadership-button'

        
    .col-md-4
        =button_to "Add Users", pick_project_users_path(@project), :method => 'get', :class => 'button transfer-leadership-button m-b-20'
        =button_to "Remove Users", remove_project_participants_path(@project), :method => 'get', :class => 'button transfer-leadership-button'


          
